@charset "utf-8";
/* CSS Document */

* {
   padding: 0;
   margin: 0;
   border: 0;
}

*,
*:before,
*:after {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

:focus,
:active {
   outline: none;
}
a:focus,
a:active {
   outline: none;
}

nav,
footer,
header,
aside {
   display: block;
}

html,
body {
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
   font-family: inherit;
}

input::-ms-clear {
   display: none;
}
button {
   cursor: pointer;
}
button::-moz-focus-inner {
   padding: 0;
   border: 0;
}
a,
a:visited {
   text-decoration: none;
}
a:hover {
   text-decoration: none;
}
ul li {
   list-style: none;
}
img {
   vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: 400;
}

body {
   background-color: #e8e8e8;
   width: 1440px;
   height: 1700px;
}
p.head {
   font-family: "Arial MT";
   font-size: 14px;
   font-weight: 400;
   line-height: 40px;
   text-transform: uppercase;
   letter-spacing: 2.8px;
   opacity: 0.6;
   color: #273d46;
   text-align: center;
   margin-top: 168px;
}
.text1 {
   font-family: "Times New Roman PSMT";
   color: #273d46;
   font-size: 36px;
   line-height: 50px;
   font-weight: 400;
   width: 721px;
   height: 75px;
   text-align: center;
   margin:206px 372px 1419px 347px;
}
.img1 {
   background: url('../img/light-man_copy.png') 289px 310px no-repeat;
   
}